@charset "UTF-8";
.clear:after,.clearfix:not(.grid-container):after,.clearfix:not(.grid-container):before,.grid-container:after,.grid-container:before {
 content:"";
 display:table
}
.clear:after,
.clearfix:not(.grid-container):after,
.grid-container:after {/* what about other? */
 clear:both
}
.grid-container {
 max-width:1200px;
 margin-left:auto;
 margin-right:auto
}
.clearfix:not(.grid-container) {
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
.grid-parent {
 padding-left:0;
 padding-right:0
}
.grid-space {
 padding-left:15px;
 padding-right:15px
}
@media(max-width:767px) {
 .hide-on-mobile {
  display:none!important
 }
 [class*=mobile-grid-]:not(.mobile-grid-100) {
  float:left
 }
 .mobile-grid-15 {
  width:15%
 }
 .mobile-grid-20 {
  width:20%
 }
 .mobile-grid-25 {
  width:25%
 }
 .mobile-grid-30 {
  width:30%
 }
 .mobile-grid-33 {
  width:33.33333%
 }
 .mobile-grid-35 {
  width:35%
 }
 .mobile-grid-40 {
  width:40%
 }
 .mobile-grid-45 {
  width:45%
 }
 .mobile-grid-50 {
  width:50%
 }
 .mobile-grid-55 {
  width:55%
 }
 .mobile-grid-60 {
  width:60%
 }
 .mobile-grid-65 {
  width:65%
 }
 .mobile-grid-66 {
  width:66.66667%
 }
 .mobile-grid-70 {
  width:70%
 }
 .mobile-grid-75 {
  width:75%
 }
 .mobile-grid-80 {
  width:80%
 }
 .mobile-grid-85 {
  width:85%
 }
 .mobile-grid-100 {
  clear:both;
  width:100%
 }
}
@media(min-width:768px) and (max-width:1024px) {
 .hide-on-tablet {
  display:none!important
 }
 [class*=tablet-grid-]:not(.tablet-grid-100) {
  float:left
 }
 .tablet-grid-15 {
  width:15%
 }
 .tablet-grid-20 {
  width:20%
 }
 .tablet-grid-25 {
  width:25%
 }
 .tablet-grid-30 {
  width:30%
 }
 .tablet-grid-33 {
  width:33.33333%
 }
 .tablet-grid-35 {
  width:35%
 }
 .tablet-grid-40 {
  width:40%
 }
 .tablet-grid-45 {
  width:45%
 }
 .tablet-grid-50 {
  width:50%
 }
 .tablet-grid-55 {
  width:55%
 }
 .tablet-grid-60 {
  width:60%
 }
 .tablet-grid-65 {
  width:65%
 }
 .tablet-grid-66 {
  width:66.66667%
 }
 .tablet-grid-70 {
  width:70%
 }
 .tablet-grid-75 {
  width:75%
 }
 .tablet-grid-80 {
  width:80%
 }
 .tablet-grid-85 {
  width:85%
 }
 .tablet-grid-100 {
  clear:both;
  width:100%
 }
 .inside-footer-widgets>div {
  margin-bottom:40px
 }
 .inside-footer-widgets>div:nth-child(odd) {
  clear:both
 }
 .active-footer-widgets-3 .footer-widget-3 {
  width:100%;
  margin-bottom:0
 }
}
@media(min-width:1025px) {
 .hide-on-desktop {
  display:none!important
 }
 .grid-15 {
  float:left;
  width:15%
 }
 .grid-20 {
  float:left;
  width:20%
 }
 .grid-25 {
  float:left;
  width:25%
 }
 .grid-30 {
  float:left;
  width:30%
 }
 .grid-33 {
  float:left;
  width:33.33333%
 }
 .grid-35 {
  float:left;
  width:35%
 }
 .grid-40 {
  float:left;
  width:40%
 }
 .grid-45 {
  float:left;
  width:45%
 }
 .grid-50 {
  float:left;
  width:50%
 }
 .grid-55 {
  float:left;
  width:55%
 }
 .grid-60 {
  float:left;
  width:60%
 }
 .grid-65 {
  float:left;
  width:65%
 }
 .grid-66 {
  float:left;
  width:66.66667%
 }
 .grid-70 {
  float:left;
  width:70%
 }
 .grid-75 {
  float:left;
  width:75%
 }
 .grid-80 {
  float:left;
  width:80%
 }
 .grid-85 {
  float:left;
  width:85%
 }
 .grid-100 {
  clear:both;
  width:100%
 }
}
:root {
 --bydik:#15a59c;
 --bydiky:#19847e;
 --bydiki:#21b7b1;
 --bodybg:#ffffff;
 --text:#444444;
 --bright:#000000;
 --ameta:#707070;
 --bodyfont:-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
 --prefont:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace
}
html[data-theme=dark] {
 --bodybg:#1c1c1c;
 --text:#d7d7d7;
 --bright:#ffffff;
 --ameta:#a5a5a5
}
@font-face {
 font-family:FontAwesome;
 font-display:swap;
 src:url(/libs/fonts/awesome-regular.eot?#iefix&v=4.7.0) format("embedded-opentype"),
 url(/libs/fonts/awesome-regular.woff2?v=4.7.0) format("woff2"),
 url(/libs/fonts/awesome-regular.woff?v=4.7.0) format("woff"),
 url(/libs/fonts/awesome-regular.ttf?v=4.7.0) format("truetype"),
 url(/libs/fonts/awesome-regular.svg?v=4.7.0#fontawesome) format("svg");
 font-weight:400;
 font-style:normal
}
@font-face {
 font-family:SolaimanLipi;
 src:url(/libs/fonts/solaimanlipi-regular.eot?#iefix&v=1.0) format("embedded-opentype"),
 url(/libs/fonts/solaimanlipi-regular.woff2?v=1.0) format("woff2"),
 url(/libs/fonts/solaimanlipi-regular.woff?v=1.0) format("woff"),
 url(/libs/fonts/solaimanlipi-regular.ttf?v=1.0) format("truetype");
 font-weight:400;
 font-style:normal
}
a:active,
a:hover,
.navigation-search input:focus {
 outline:0
}
a,
a:visited,
a:focus,
a:hover,
ins,
mark,
.main-navigation a {
 text-decoration:none
}
.site-content,
.entry-header,
.main-title,
.comment-content a {
 word-wrap:break-word
}
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
 border:0;
 margin:0;
 outline:0;
 padding:0
}
html {
 font-family:sans-serif;
 color:#fff;
 background:#222;
 -webkit-text-size-adjust:100%;
 -ms-text-size-adjust:100%;
 -webkit-tap-highlight-color:transparent;
 overflow-x:hidden
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
 display:block
}
audio,
canvas,
progress,
video {
 display:inline-block;
 vertical-align:baseline
}
audio:not([controls]) {
 display:none;
 height:0
}
[hidden],
template {
 display:none
}
caption,
td,
th {
 font-weight:400;
 text-align:left;
 padding:12px 8px
}
blockquote p:before,
q:before {
 content:open-quote
}
blockquote p:after,
q:after {
 content:close-quote
}
blockquote p:before,
blockquote p:after {
 font-family:georgia,serif
}
blockquote,
q {
 quotes:"“" "”"
}
a {
 background-color:transparent;
 -webkit-transition:color .1s ease-in-out,background-color .1s ease-in-out;
 -moz-transition:color .1s ease-in-out,background-color .1s ease-in-out;
 -o-transition:color .1s ease-in-out,background-color .1s ease-in-out;
 transition:color .1s ease-in-out,background-color .1s ease-in-out
}
a img {
 border:0
}
button,
input,
select,
textarea {
 margin:0;
 vertical-align:baseline;
 line-height:1.5
}
ol,
ul {
 margin:0 0 1.5em 2em
}
ul {
 list-style:disc
}
ol {
 list-style:none;
 counter-reset:item
}
.entry-content ol>li {
 margin-left:-1em;
 counter-increment:item
}
.entry-content ol>li:before {
 font-weight:700;
 content:counter(item) ". "
}
li>ol,
li>ul {
 margin-bottom:0;
 margin-left:2em
}
b {
 font-weight:700
}
dt,
strong,
th,
thead td {
 font-weight:600
}
dd {
 margin:0 1.5em 1.5em
}
cite,
dfn,
em,
i {
 font-style:italic
}
address {
 margin:0 0 1.5em
}
code,
kbd,
tt,
var {
 font:400 15px/30px var(--prefont)
}
small,
sub,
sup {
 font-size:75%
}
abbr,
acronym {
 border-bottom:1px dotted #666;
 cursor:help;
 text-decoration:none
}
sub,
sup {
 position:relative;
 height:0;
 line-height:0;
 vertical-align:baseline
}
img,
video {
 height:auto;
 max-width:100%
}
sup {
 bottom:1ex
}
sub {
 top:.5ex
}
big {
 font-size:125%
}
figure {
 margin:0
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
 border:1px solid transparent;
 border-radius:3px;
 background:#505050;
 cursor:pointer;
 -webkit-appearance:button;
 padding:10px 20px;
 color:#fff
}
button:active,
button:focus,
button:hover,
html input[type=button]:active,
html input[type=button]:focus,
html input[type=button]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover {
 background:#606060
}
.button {
 display:inline-block;
 padding:10px 20px
}
input[type=checkbox],
input[type=radio] {
 box-sizing:border-box;
 padding:0;
 margin-right:7px
}
input[type=search] {
 -webkit-appearance:textfield
}
input[type=search]::-webkit-search-decoration {
 -webkit-appearance:none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
 border:0;
 padding:0
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=tel],
input[type=number],
input[type=search],
textarea {
 background:#f4f4f4;
 color:#666;
 border:1px solid #ccc;
 border-radius:3px;
 padding:10px 15px;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 max-width:100%
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
 color:#111;
 background:#fff
}
textarea {
 overflow:auto;
 vertical-align:top;
 width:100%
}
input[type=file] {
 max-width:100%;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
.alignleft {
 display:inline;
 float:left;
 margin-right:1.5em
}
.alignright {
 display:inline;
 float:right;
 margin-left:1.5em
}
.aligncenter {
 display:block;
 clear:both;
 margin:0 auto
}
.sr-only,
.screen-reader-text {
 position:absolute!important;
 clip:rect(1px,1px,1px,1px);
 width:1px;
 height:1px;
 overflow:hidden
}
p:empty {
 display:none
}
.main-navigation {
 position:-webkit-sticky;
 position:sticky;
 display:block;
 clear:both;
 top:0;
 padding:0;
 z-index:100;
 box-shadow:0 1px 5px rgba(0,0,0,.1);
 will-change:transform;
 transition:top .3s
}
.menu-toggle {
 margin:0;
 padding:0
}
.menu-toggle .mobile-menu {
 margin-left:5px
}
.menu-toggle .mobile-menu:empty {
 display:none
}
.inside-navigation {
 position:relative
}
.main-navigation li.pull-right {
 float:right
}
.main-navigation ul {
 list-style:none;
 margin:0;
 padding-left:0
}
.search-item .screen-reader-text {
 top:0;
 right:0;
 left:auto
}
.main-navigation li {
 position:relative;
 float:left
}
.main-navigation a {
 display:block
}
.main-navigation ul ul {
 position:absolute;
 float:left;
 display:none;
 box-shadow:0 2px 2px rgba(0,0,0,.1);
 left:0;
 z-index:99999;
 width:200px;
 text-align:left;
 top:auto
}
.main-navigation ul li.sfHover>ul,
.main-navigation ul li:hover>ul,
.main-navigation ul ul a,
.secondary-navigation ul li.sfHover>ul,
.secondary-navigation ul li:hover>ul {
 display:block
}
.main-navigation ul ul ul {
 left:100%;
 top:0
}
.main-navigation ul ul li {
 width:100%;
 border-top:1px solid #444
}
.dropdown-click .main-navigation ul li.sfHover>ul,
.dropdown-click .main-navigation ul li:hover>ul,
.dropdown-click .secondary-navigation ul li.sfHover>ul,
.dropdown-click .secondary-navigation ul li:hover>ul {
 display:none
}
.dropdown-click .main-navigation ul li.sfHover>ul.toggled-on,
.dropdown-click .main-navigation ul li:hover>ul.toggled-on,
.dropdown-click .main-navigation ul.toggled-on,
.dropdown-click .secondary-navigation ul li.sfHover>ul.toggled-on,
.dropdown-click .secondary-navigation ul li:hover>ul.toggled-on,
.dropdown-click .secondary-navigation ul.toggled-on {
 display:block
}
.dropdown-click nav ul ul ul {
 background-color:transparent
}
.site-header {
 position:relative
}
.header-aligned-left .site-header {
 text-align:left
}
.header-aligned-center .site-header {
 text-align:center
}
.header-aligned-right .site-header {
 text-align:right
}
.site-header .header-image {
 vertical-align:middle
}
.main-navigation li.search-item {
 float:right;
 z-index:21
}
.nav-aligned-center .main-navigation li.search-item.current-menu-item {
 position:absolute;
 right:0
}
.search-item .fa:before {
 content:"\f002"
}
.search-item.active .fa:before {
 content:"\f00d"
}
.main-navigation li.search-item i {
 transform:rotate(90deg)
}
.navigation-search {
 position:absolute;
 right:0;
 display:none;
 z-index:20;
 width:100%;
 top:0
}
.gen-sidebar-nav .navigation-search {
 top:auto;
 bottom:0
}
.navigation-search input {
 border:0;
 vertical-align:bottom;
 line-height:0;
 padding-right:45px;
 padding-left:45px;
 opacity:.9;
 width:100%;
 z-index:20;
 border-radius:0;
 -webkit-appearance:none
}
.navigation-search input::-ms-clear {
 display:none;
 width:0;
 height:0
}
.navigation-search input::-ms-reveal {
 display:none;
 width:0;
 height:0
}
.navigation-search input::-webkit-search-cancel-button,
.navigation-search input::-webkit-search-decoration,
.navigation-search input::-webkit-search-results-button,
.navigation-search input::-webkit-search-results-decoration {
 display:none
}
.nav-aligned-center.nav-above-header .main-navigation .menu>li,
.nav-aligned-center.nav-below-header .main-navigation .menu>li,
.nav-aligned-right.nav-above-header .main-navigation .menu>li,
.nav-aligned-right.nav-below-header .main-navigation .menu>li {
 float:none;
 display:inline-block
}
.sidebar .menu-item-has-children .dropdown-menu-toggle,
nav ul ul .menu-item-has-children .dropdown-menu-toggle {
 float:right
}
.nav-aligned-center .main-navigation ul,
.nav-aligned-right .main-navigation ul {
 letter-spacing:-.31em;
 font-size:1em
}
.nav-aligned-center .main-navigation ul li,
.nav-aligned-right .main-navigation ul li {
 letter-spacing:normal
}
.nav-aligned-left.nav-above-header .main-navigation,
.nav-aligned-left.nav-below-header .main-navigation {
 text-align:left
}
.nav-aligned-center.nav-above-header .main-navigation,
.nav-aligned-center.nav-below-header .main-navigation {
 text-align:center
}
.nav-aligned-right.nav-above-header .main-navigation,
.nav-aligned-right.nav-below-header .main-navigation {
 text-align:right
}
.gallery-item,
.site-info {
 text-align:center
}
.main-navigation ul li .dropdown-toggle,
.secondary-navigation ul li .dropdown-toggle {
 display:none
}
.menu-item-has-children .dropdown-menu-toggle {
 display:inline-block;
 clear:both;
 height:100%;
 padding-left:10px
}
.main-navigation:not(.toggled) .main-nav ul ul ul li a,
.main-navigation.toggled .main-nav ul ul li a {
 padding-left:35px
}
.main-navigation.toggled .main-nav ul ul ul li a {
 padding-left:50px
}
.dropdown-click .main-navigation ul ul ul,
.dropdown-click .secondary-navigation ul ul ul {
 position:relative;
 left:0;
 top:auto
}
.dropdown-menu-toggle:before {
 content:"\f107";
 font-family:FontAwesome;
 line-height:1em;
 speak:none
}
.dropdown-click .menu-item-has-children.sfHover>a .dropdown-menu-toggle:before {
 content:"\f106"
}
.main-navigation .main-nav ul li.menu-item-has-children>a,
.secondary-navigation .main-nav ul li.menu-item-has-children>a {
 position:relative
}
.post {
 margin:0 0 2em
}
.posted-on .updated {
 display:none
}
.byline,
.group-blog .byline,
.single .byline,
.byline span {
 display:inline-block
}
.page-links {
 clear:both;
 margin:0 0 1.5em
}
.comment-content img.wp-smiley,
.entry-content img.wp-smiley,
.page-content img.wp-smiley {
 border:none;
 margin-bottom:0;
 margin-top:0;
 padding:0
}
.wp-caption {
 position:relative;
 margin-bottom:1.5em;
 max-width:100%
}
.wp-caption img[class*=wp-image-] {
 display:block;
 margin:0 auto;
 max-width:100%
}
.wp-caption .wp-caption-text {
 font-size:75%;
 padding-top:5px;
 opacity:.8
}
.wp-caption img {
 position:relative;
 vertical-align:bottom
}
.gallery-item {
 display:inline-block;
 vertical-align:top;
 width:100%
}
.site-logo,
.widget select,
embed,
iframe,
object,
pre {
 max-width:100%
}
.gallery-caption {
 display:block
}
.site-main [class*=navigation] {
 overflow:hidden
}
.comment,
.comment-list {
 list-style-type:none;
 padding:0;
 margin:0
}
.comment-author-info {
 display:inline-block;
 vertical-align:middle
}
.comment-meta .avatar {
 float:left;
 margin-right:10px;
 -moz-border-radius:50%;
 -webkit-border-radius:50%;
 border-radius:50%
}
.comment-author cite {
 font-style:normal;
 font-weight:600
}
.entry-meta.comment-metadata {
 margin-top:0;
 font-size:13px
}
.comment-form #author,
.comment-form #email,
.comment-form #url {
 display:block
}
.comment-content p:last-child {
 margin-bottom:0
}
.comment-list>.comment:first-child {
 padding-top:0;
 margin-top:0
}
.widget {
 margin:0 0 30px;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box
}
.widget_categories .children {
 margin-left:1.5em;
 padding-top:5px
}
blockquote,
table {
 margin:0 0 1.5em
}
fieldset,
fieldset legend {
 padding:0
}
.widget_categories .children li:last-child {
 padding-bottom:0
}
.infinity-end.neverending .site-footer {
 display:block
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-family:inherit;
 font-style:inherit;
 font-weight:inherit;
 text-transform:none
}
pre {
 font-size:inherit;
 font-family:var(--prefont);
 line-height:1.5;
 margin-bottom:1.5em;
 white-space:pre;
 overflow:auto
}
.prewrap,
.prewrap code {
 white-space:pre-wrap;
 overflow:hidden
}
blockquote {
 position:relative;
 font-family:georgia,serif;
 font-size:1.2em
}
blockquote p:last-child {
 margin:0
}
table,
td,
th {
 border:1px solid #d7d7d7
}
table {
 border-collapse:separate;
 border-spacing:0;
 border-width:1px 0 0 1px;
 width:100%
}
td,
th {
 border-width:0 1px 1px 0
}
hr {
 background-color:#ccc;
 border:0;
 height:1px;
 margin-bottom:20px;
 margin-top:20px
}
.site-main .gallery,
fieldset legend {
 margin-bottom:1.5em
}
fieldset {
 border:0;
 min-width:inherit
}
.gallery-item img {
 vertical-align:bottom
}
.gallery-icon {
 padding:5px
}
.one-container .comments-area {
 margin-top:3em
}
h1,
h2,
h3 {
 line-height:1.35em;
 margin-bottom:20px
}
h4,
h5,
h6 {
 line-height:1.5em;
 margin-bottom:15px
}
.entry-content>:last-child,
.entry-summary>:last-child,
.footer-widgets .widget :last-child,
.one-container .site-main>:last-child,
.page-content>:last-child,
.sidebar .widget :last-child {
 margin-bottom:0
}
.one-container .site-main {
 margin:0
}
.one-container .inside-left-sidebar,
.one-container .inside-right-sidebar {
 margin-top:0
}
.one-container .inside-article {
 padding:0 0 30px
}
.one-container.page .inside-article {
 padding-bottom:0
}
.widget ol,
.widget ul {
 margin:0
}
.widget ul li {
 position:relative;
 list-style-type:none;
 padding-bottom:8px
}
.widget ul li ul li:before {
 opacity:.7
}
.widget:last-child,
.header-widget .widget {
 margin-bottom:0
}
.widget_nav_menu ul ul,
.widget_pages ul ul {
 margin-left:1em;
 margin-top:8px
}
.widget ul li.menu-item-has-children,
.widget ul li.page_item_has_children {
 padding-bottom:0
}
#wp-calendar {
 table-layout:fixed;
 font-size:80%
}
#wp-calendar #prev,
#wp-calendar #prev+.pad {
 border-right:0
}
.sidebar .grid-container {
 max-width:100%;
 width:100%
}
.footer-bar-active .footer-bar .widget {
 padding:0
}
.footer-bar .widget_nav_menu>div>ul {
 display:inline-block;
 vertical-align:top
}
.footer-bar .widget-title,
.footer-bar .widget_nav_menu li ul {
 display:none
}
.footer-bar .textwidget p:last-child {
 margin:0
}
.footer-bar-align-right .copyright-bar {
 float:left
}
.footer-bar-align-center .copyright-bar {
 float:none;
 text-align:center
}
.footer-bar-align-left .copyright-bar,
.footer-bar-align-right .footer-bar {
 float:right;
 text-align:right
}
.footer-bar-align-left .footer-bar {
 float:left
}
.footer-bar-align-center .footer-bar {
 float:none;
 text-align:center;
 margin-bottom:10px
}
.footer-bar .widget_nav_menu li {
 margin:0 15px;
 float:left;
 padding:0
}
h1,
.h1 {
 font-size:3.07em
}
h2,
.h2 {
 font-size:1.87em
}
h3,
.h3 {
 font-size:1.61em
}
h4,
.h4 {
 font-size:1.41em
}
h5,
.h5 {
 font-size:1.21em
}
h6,
.h6 {
 font-size:1.07em
}
.trends-title,
.entry-title {
 margin-bottom:0
}
.site-main>.search-form,
.page-header {
 margin-bottom:30px
}
.page-header h1 {
 font-size:24px
}
.page-header .avatar {
 float:left;
 margin-right:15px;
 border-radius:50%
}
.page-header>:last-child,
.read-more-container,
.site-main .post-navigation,
.taxonomy-description p:last-child {
 margin-bottom:0
}
.entry-meta {
 font-size:95%;
 margin-top:1.5em;
 line-height:1.5
}
.cat-links:before,
.comments-link:before,
.nav-next .next:before,
.nav-previous .prev:before,
.tags-links:before,
footer.entry-meta .author:before,
footer.entry-meta .posted-on:before {
 font-family:FontAwesome;
 position:relative;
 display:inline-block;
 font-weight:400;
 font-style:normal;
 text-decoration:inherit;
 margin-right:10px;
 width:15px;
 text-align:center;
 speak:none
}
footer.entry-meta .author:before {
 content:"\f007"
}
footer.entry-meta .posted-on:before {
 content:"\f274"
}
.cat-links:before {
 content:"\f07b"
}
.tags-links:before {
 content:"\f02c"
}
.comments-link:before {
 content:"\f086"
}
.nav-previous .prev:before {
 content:"\f060"
}
.nav-next .next:before {
 content:"\f061"
}
.cat-links,
.comments-link,
.tags-links,
footer.entry-meta .posted-on {
 display:block
}
.paging-navigation .nav-next,
.paging-navigation .nav-previous {
 display:none
}
.site-main .paging-navigation .navigation {
 margin:0
}
.main-title {
 margin:0;
 line-height:1.2em
}
.site-logo {
 display:inline-block
}
.site-description {
 margin:0;
 line-height:1.5
}
.post-image {
 margin:2em 0 0
}
.top-bar .inside-top-bar .widget {
 padding:0;
 margin:0
}
.top-bar-align-center {
 text-align:center
}
.top-bar-align-right {
 text-align:right
}
.top-bar .widget-title,
.top-bar .widget_nav_menu li ul {
 display:none
}
.top-bar .widget_nav_menu li {
 margin:0 10px;
 float:left;
 padding:0
}
.top-bar .widget_nav_menu li:first-child {
 margin-left:0
}
.top-bar .widget_nav_menu li:last-child {
 margin-right:0
}
.top-bar .widget_nav_menu>div>ul {
 display:inline-block;
 vertical-align:top
}
.container.grid-container {
 width:auto
}
.sf-menu>li.menu-item-float-right {
 float:right!important
}
.menu-toggle {
 display:none;
 cursor:pointer
}
.sidebar-nav-mobile {
 display:none
}
.one-container .site-content,
.footer-widgets-container {
 padding-top:40px;
 padding-bottom:40px
}
.one-container.right-sidebar .site-main {
 margin-right:40px
}
.one-container.left-sidebar .site-main {
 margin-left:40px
}
.one-container.both-sidebars .site-main {
 margin:0 40px
}
.widget-area .main-navigation {
 margin-bottom:20px
}
.main-navigation .main-nav ul li a,
.menu-toggle {
 padding-left:20px;
 padding-right:20px;
 line-height:60px
}
.main-navigation .main-nav ul ul li a {
 font-size:14px;
 line-height:normal;
 padding:14px 20px
}
.main-navigation .main-nav ul ul ul li a {
 padding-left:35px
}
.navigation-search,
.navigation-search input {
 height:100%
}
.navigation-search.nav-search-active {
 display:block
}
.menu-item-has-children ul .dropdown-menu-toggle {
 padding-top:10px;
 padding-bottom:10px;
 margin-top:-10px
}
.footer-widgets .inside-footer-widgets .inner-padding {
 padding:0 15px;
 overflow:hidden
}
.site-footer .footer-widgets-container .inside-footer-widgets {
 margin-right:-15px;
 margin-left:-15px
}
body,
button,
input,
select,
textarea {
 font-family:var(--bodyfont);
 font-weight:400;
 text-transform:none;
 font-size:17px
}
.en-text {
 font-family:var(--bodyfont)
}
p {
 margin-bottom:1.5em
}
.top-bar {
 font-size:15px
}
.main-title {
 font-weight:600;
 text-transform:none;
 font-size:45px
}
.main-navigation a,
.menu-toggle,
.site-description {
 font-weight:400;
 text-transform:none;
 font-size:15px
}
.footer-widgets .widget,
.sidebar .widget {
 font-size:16px
}
.site-info {
 font-size:14px;
 text-transform:uppercase
}
.footer-search {
 background:rgba(0,0,0,.07)
}
.inside-area,
.inside-site-info,
.inside-footer-search {
 padding:30px 15px
}
.slideout-navigation .menu-item-has-children .dropdown-menu-toggle {
 float:right
}
button.menu-toggle,
button.menu-toggle:active,
button.menu-toggle:focus,
button.menu-toggle:hover,
.navigation-search button,
.navigation-search button:active,
.navigation-search button:focus,
.navigation-search button:hover {
 background-color:transparent;
 border:0;
 outline:0
}
button.menu-toggle {
 width:auto;
 float:left
}
.mobile-bar-items a {
 line-height:60px
}
@media(max-width:768px) {
 .top-bar .widget_nav_menu li {
  float:none;
  display:inline-block;
  padding:5px 0
 }
 .content-area,
 .inside-footer-widgets>div,
 .sidebar {
  float:none;
  width:100%;
  left:0;
  right:0
 }
 .inside-footer-widgets>div:not(:last-child) {
  margin-bottom:30px
 }
 .one-container .sidebar {
  margin-top:50px
 }
 a,
 body,
 button,
 input,
 select,
 textarea {
  -webkit-transition:all 0s ease-in-out;
  -moz-transition:all 0s ease-in-out;
  -o-transition:all 0s ease-in-out;
  transition:all 0s ease-in-out
 }
 .inside-header>:not(:last-child) {
  margin-bottom:20px
 }
 .main-navigation .main-nav ul li a {
  line-height:50px
 }
 .main-navigation .menu-toggle {
  display:block
 }
 .main-navigation .main-nav ul {
  display:none
 }
 .main-navigation.toggled .main-nav>ul {
  display:block
 }
 .main-navigation .main-nav ul ul {
  position:relative;
  top:0;
  left:auto;
  right:auto;
  width:100%
 }
 .main-navigation .main-nav li {
  float:none!important;
  display:block!important;
  clear:both;
  text-align:left!important
 }
 .main-navigation .main-nav li.hide-on-mobile {
  display:none!important
 }
 .main-navigation .children.toggled-on,
 .main-navigation .sub-menu.toggled-on {
  display:block!important;
  opacity:1!important
 }
 .main-navigation .dropdown-menu-toggle:before {
  content:"\f107"!important
 }
 .main-navigation .sfHover>a .dropdown-menu-toggle:before {
  content:"\f106"!important
 }
 .main-navigation .menu-item-has-children .dropdown-menu-toggle {
  float:right
 }
 .main-navigation .sf-menu>li.menu-item-float-right {
  float:none!important;
  display:inline-block!important
 }
 .gen-sidebar-nav {
  display:none
 }
 .sidebar-nav-mobile:not(#sticky-placeholder) {
  display:block
 }
 .site-main {
  margin-left:0!important;
  margin-right:0!important
 }
 .header-widget {
  float:none;
  max-width:100%
 }
 .alignleft,
 .alignright {
  float:none;
  display:block;
  margin-left:auto;
  margin-right:auto
 }
 .copyright-bar,
 .footer-bar {
  float:none!important;
  text-align:center!important
 }
 .footer-bar {
  margin-bottom:25px
 }
 .footer-bar .widget_nav_menu li {
  float:none;
  display:inline-block;
  padding:5px 0
 }
}
.site-header:after,
.w-area:after,
.entry-content:after,
.comment-content:after,
.paging-navigation:after,
.site-footer:after,
.site-info:after {
 content:"";
 display:table;
 clear:both
}
.one-container .site-content,
.inside-navigation,
.footer-widgets-container {
 padding-right:15px;
 padding-left:15px
}
.inside-titlebar,
.hero-columns,
.inside-banner {
 padding:15px
}
.entry-summary {
 margin:1.5em 0 0
}
.fa {
 display:inline-block;
 font:400 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 -webkit-user-select:none;
 -moz-user-select:none;
 user-select:none
}
.fa-download:before {
 content:"\f019"
}
.fa-2x {
 font-size:2em
}
.fa-5x {
 font-size:5em
}
.fa-10x {
 font-size:10em
}
.fa-fw {
 width:1.28571429em;
 text-align:center
}
.fa-pull-right {
 float:right
}
.fa-pull-left {
 float:left
}
.fa.fa-pull-right {
 margin-left:.3em
}
.fa.fa-pull-left {
 margin-right:.3em
}
.hidden {
 display:none!important
}
thead th,
thead td {
 background:rgba(0,0,0,.04)
}
blockquote,
pre,
.further_read,
.comment-awaiting-moderation,
.no-comments {
 padding:15px;
 border-left:3px solid #777;
 background:rgba(0,0,0,.03)
}
.logged-in .loggedshow {
 display:block
}
a.btn,
a label {
 cursor:pointer
}
.entry-content>ul>li,
.entry-content>ol>li {
 margin-bottom:.5em
}
.posted-on .new-date.updated {
 display:inline
}
.us_portfolio,
.linkify {
 margin:0 0 2em
}
.opaless,
.tagcloud {
 opacity:.9
}
.entry-meta.author-metadata {
 margin-top:5px
}
.page-error-404 {
 text-align:center
}
.page-error-404:before {
 content:"\f05e";
 display:inline-block;
 font:200px/1 FontAwesome;
 margin-bottom:20px;
 opacity:.3
}
.no-results .search-form,
.page-error-404 .search-form {
 margin-bottom:1.5em
}
.noshow,
.logged-in .loggedhide,
.loggedshow,
.printonly {
 display:none
}
.hiddentitle .widget-title,
.hiddentitle .widgettitle {
 display:none!important
}
.entry-content p code {
 color:var(--bright);
 background:rgba(0,0,0,.08);
 padding:4px;
 border-radius:4px
}
footer.entry-meta>* {
 position:relative;
 padding-left:25px
}
footer.entry-meta :before {
 position:absolute!important;
 left:0
}
.footer-bar .widget_nav_menu {
 margin-right:-15px;
 margin-left:-15px
}
.widget.grid-container {
 margin-right:auto;
 margin-left:auto
}
.borderlist ul li {
 border-bottom:1px solid;
 padding-top:8px
}
.borderlist ul li a {
 display:inline-table;
 width:100%
}
.borderlist ul li a:before {
 content:"\f054";
 font-family:FontAwesome;
 float:right;
 font-size:9px;
 margin-top:6px;
 margin-left:12px;
 font-weight:400
}
.inside-navigation .site-logo {
 float:left;
 height:60px;
 margin-right:15px;
 overflow:hidden
}
.inside-navigation .header-image {
 width:75px;
 vertical-align:middle;
 opacity:.95
}
.mobile-bar-items {
 float:right
}
.mobile-bar-items img {
 background:#fff;
 border:1px solid #888;
 border-radius:50%;
 vertical-align:middle
}
.main-navigation .mobile-bar-items {
 margin-left:-15px;
 margin-right:-15px
}
.main-navigation .mobile-bar-items li a {
 padding-right:15px;
 padding-left:15px
}
.navigation-search button {
 position:absolute;
 font-family:FontAwesome;
 left:15px;
 height:60px;
 padding:0;
 speak:none;
 z-index:21
}
.search-form.w-search {
 position:relative;
 margin-right:auto;
 margin-left:auto;
 max-width:100%
}
.w-search .search-submit {
 position:absolute;
 top:0;
 left:0;
 background-color:transparent;
 color:#888;
 padding-left:10px;
 padding-right:10px
}
.w-search .search-field {
 padding-left:35px
}
.w-search button:focus {
 outline:0
}
.entry-header .avatar {
 margin-right:10px;
 vertical-align:middle;
 border:1px solid rgba(0,0,0,.08);
 border-radius:50%
}
.single-post-author {
 margin-top:3em
}
.single-post-author .avatar {
 float:left;
 margin-right:15px;
 border-radius:50%
}
.sidebar>div>* {
 max-width:336px;
 margin-left:auto;
 padding-bottom:1em
}
.w-area,
.trends-area {
 position:relative;
 background-size:cover;
 background-position:50% 35%;
 text-shadow:1px 1px 2px rgba(0,0,0,.2)
}
.trends-area .trend-post {
 position:relative;
 max-width:1060px;
 margin-right:auto;
 margin-left:auto;
 text-align:center;
 z-index:1
}
.w-area .area-header {
 position:relative;
 max-width:916px;
 margin:0 auto;
 padding-top:5%;
 padding-bottom:5%;
 text-align:center;
 color:#fff;
 z-index:1
}
.w-area .topic-links {
 position:absolute;
 top:-10px;
 left:0;
 right:0;
 font-size:0!important
}
.w-area .topic-links a {
 display:inline-block;
 text-transform:uppercase;
 background-color:rgba(0,0,0,.5);
 border-radius:3px;
 padding:2px 6px;
 font-size:13px!important;
 margin:3px
}
.img-area {
 position:absolute;
 top:0;
 right:0;
 left:0;
 bottom:0;
 background:radial-gradient(rgba(0,0,0,.35),rgba(0,0,0,.95));
 overflow:hidden
}
.img-area img {
 width:100%;
 min-height:100%;
 object-fit:cover
}
#comments {
 line-height:1.5
}
.comments-title span:before {
 content:"\f086";
 font-family:FontAwesome;
 display:inline-block;
 opacity:.5;
 margin-right:8px
}
.comment-list>.comment {
 margin-bottom:30px;
 border:1px solid #d7d7d7
}
.comment-body {
 padding:30px
}
.comment-body:hover {
 box-shadow:0 0 8px 0 rgba(0,0,0,.1)
}
.comment-meta {
 margin-bottom:25px
}
.comment .children {
 margin-left:0
}
.comment .children .comment {
 border-top:1px solid #d7d7d7
}
.comment-respond {
 margin-top:3.5em
}
.comment .comment-respond {
 margin-top:0;
 padding:30px;
 border-top:1px solid #d7d7d7
}
.comment-respond .form-submit {
 margin-top:1.5em
}
.comment-respond .comment-form-cookies-consent,
.comment-respond .comment-subscription-form {
 margin-bottom:.5em
}
.comment-meta p {
 margin-top:25px;
 font-style:italic
}
.comment-form #author,
.comment-form #email,
.comment-form #url {
 width:100%
}
#cancel-comment-reply-link {
 font-size:13px
}
.gpdr-consent {
 position:fixed;
 right:0;
 left:0;
 bottom:0;
 background-color:#f1f1f1;
 z-index:4000
}
.cookie-banner {
 padding:20px
}
.cookie-banner .hideme {
 float:right;
 margin-left:15px
}
.w-note {
 padding:15px;
 border:3px solid #d7d7d7
}
.paging-navigation.pagination {
 font-size:0;
 margin:0 -3px
}
.pagination .page-numbers {
 position:relative;
 display:inline-block;
 font-size:16px;
 vertical-align:top;
 text-align:center;
 line-height:42px;
 height:42px;
 width:42px;
 margin:3px;
 color:inherit;
 border:1px solid #ccc;
 border-radius:50%;
 overflow:hidden;
 z-index:1
}
.pagination span.page-numbers {
 cursor:default
}
.pagination a.page-numbers:hover {
 color:#fff;
 background-color:#555
}
.pagination .page-numbers:before {
 content:"";
 position:absolute;
 display:block;
 top:0;
 left:0;
 height:0;
 width:100%;
 transition:height .3s
}
.pagination .page-numbers:hover:before {
 height:100%
}
.pagination .page-numbers.current {
 background-color:#e7e7e7
}
.pagination .page-numbers.dots {
 border:0;
 width:auto
}
.pagination .page-numbers.dots:before {
 display:none
}
.pagination .page-numbers.prev,
.pagination .page-numbers.next {
 font-size:0
}
.pagination .page-numbers.prev:after,
.pagination .page-numbers.next:after {
 font-family:FontAwesome;
 position:relative;
 font-size:22px
}
.pagination .page-numbers.prev:after {
 content:"\f104";
 padding-right:3px
}
.pagination .page-numbers.next:after {
 content:"\f105";
 padding-left:3px
}
.w-socials .w-socials-item {
 float:left;
 margin:0 7px 7px 0!important;
 padding:0
}
.w-socials .w-socials-item a {
 display:block;
 width:36px;
 line-height:36px;
 background:#2b2b2b;
 border-radius:3px;
 text-align:center
}
.w-socials .email a:hover {
 background:#96a2a8
}
.w-socials .facebook a:hover {
 background:#42599e
}
.w-socials .twitter a:hover {
 background:#55acee
}
.w-socials .google a:hover {
 background:#db4437
}
.w-socials .linkedin a:hover {
 background:#117eb9
}
.w-socials .youtube a:hover {
 background:#cd201f
}
.w-socials .pinterest a:hover {
 background:#cb2027
}
.w-socials .instagram a:hover {
 background:#c138c3
}
.w-socials .rss a:hover {
 background:#ff9702
}
.g-cols.offset_small {
 margin-left:-25px
}
.g-cols.offset_small>div>.cols-inner {
 padding-left:25px
}
.g-cols.offset_medium {
 margin-left:-45px
}
.g-cols.offset_medium>div>.cols-inner {
 padding-left:45px
}
.g-cols.offset_large {
 margin-left:-80px
}
.g-cols.offset_large>div>.cols-inner {
 padding-left:80px
}
.g-cols.offset_huge {
 margin-left:-120px
}
.g-cols.offset_large>div>.cols-inner {
 padding-left:120px
}
.g-cols.offset_sidebar>div.padri>.cols-inner {
 padding-right:40px
}
.g-cols.offset_sidebar>div.padle>.cols-inner {
 padding-left:40px
}
.g-cols:after {
 content:"";
 display:table;
 clear:both
}
.w-separator {
 clear:both;
 line-height:0;
 height:35px;
 overflow:hidden
}
.w-separator.size_small {
 height:25px
}
.w-separator.size_medium {
 height:45px
}
.w-separator.size_large {
 height:75px
}
.w-separator.size_huge {
 height:125px
}
.tabs-sections {
 border-top:1px solid #ccc;
 background:rgba(0,0,0,.03)
}
.tabs-sections details {
 border-bottom:1px solid #ccc
}
.tabs-sections details>* {
 margin:0;
 padding:15px
}
details summary {
 cursor:pointer;
 background-color:rgba(0,0,0,.05)
}
details summary:hover {
 background-color:rgba(0,0,0,.08)
}
.wp-show-posts,
.wp-show-posts-entry-title {
 line-height:1.5
}
.wp-show-posts-columns {
 display:flex;
 flex-wrap:wrap
}
.wp-show-posts-columns .wp-show-posts-single {
 display:flex;
 flex-direction:row
}
.wp-show-posts-columns .wp-show-posts-inner {
 flex:1
}
.wp-show-posts-inner:after {
 content:"";
 display:table;
 clear:both
}
.wp-show-posts:not(.wp-show-posts-columns) .wp-show-posts-single:not(:last-child) {
 margin-bottom:1.85em
}
.wp-show-posts .wp-show-posts-single {
 margin:0
}
.wp-show-posts-image {
 margin-bottom:10px;
 border:1px solid rgba(0,0,0,.08)
}
.wp-show-posts-image img {
 margin:0!important;
 vertical-align:bottom
}
.wp-show-posts-image a,
.post-image a,
a>img {
 color:#fff
}
.wp-show-posts-columns .wp-show-posts-single .wp-show-posts-image img {
 flex:0 0 auto;
 object-fit:cover
}
.wp-show-posts-image.wpsp-image-left {
 float:left;
 margin-right:1em
}
.wp-show-posts-image.wpsp-image-right {
 float:right;
 margin-left:1em
}
.wp-show-posts-image.wpsp-image-center {
 display:block;
 width:auto;
 height:auto;
 border:none
}
.wp-show-posts-updated {
 display:none
}
.wp-show-posts-entry-title {
 font-size:inherit;
 font-weight:400;
 margin-bottom:0
}
.wp-show-posts-entry-meta {
 margin-top:.4em;
 font-size:95%
}
.wp-show-posts-posted-on,
.wp-show-posts-byline {
 display:inline-block;
 margin-right:15px
}
.wpsp-clear:after,
.wpsp-clearfix:after {
 content:"";
 display:table;
 clear:both
}
@media(min-width:768px) {
 .wpsp-col-1,
 .wpsp-col-2,
 .wpsp-col-3,
 .wpsp-col-4,
 .wpsp-col-5,
 .wpsp-col-6,
 .wpsp-col-7,
 .wpsp-col-8,
 .wpsp-col-9,
 .wpsp-col-10,
 .wpsp-col-11,
 .wpsp-col-12,
 .wpsp-col-20 {
  float:left
 }
 .wpsp-col-1 {
  width:8.333333%
 }
 .wpsp-col-2 {
  width:16.666667%
 }
 .wpsp-col-3 {
  width:25%
 }
 .wpsp-col-4 {
  width:33.333333%
 }
 .wpsp-col-5 {
  width:41.666667%
 }
 .wpsp-col-6 {
  width:50%
 }
 .wpsp-col-7 {
  width:58.333333%
 }
 .wpsp-col-8 {
  width:66.666667%
 }
 .wpsp-col-9 {
  width:75%
 }
 .wpsp-col-10 {
  width:83.333333%
 }
 .wpsp-col-11 {
  width:91.666667%
 }
 .wpsp-col-12 {
  width:100%
 }
 .wpsp-col-20 {
  width:20%
 }
 .main-navigation li.righma {
  margin-right:15px
 }
 .show-on-mobile {
  display:none
 }
}
@media(min-width:768px) and (max-width:1200px) {
 .hide768to1200 {
  display:none!important
 }
}
@media(min-width:768px) and (max-width:900px) {
 .hide768to900 {
  display:none!important
 }
}
@media(min-width:1025px) {
 h1.trends-title {
  font-size:3.57em
 }
 h2.entry-title {
  font-size:2.31em
 }
}
@media(max-width:1060px) {
 .g-cols.offset_small {
  margin-left:-15px
 }
 .g-cols.offset_small>div>.cols-inner {
  padding-left:15px
 }
 .g-cols.offset_medium {
  margin-left:-30px
 }
 .g-cols.offset_medium>div>.cols-inner {
  padding-left:30px
 }
 .g-cols.offset_large {
  margin-left:-55px
 }
 .g-cols.offset_large>div>.cols-inner {
  padding-left:55px
 }
 .g-cols.offset_huge {
  margin-left:-85px
 }
 .g-cols.offset_huge>div>.cols-inner {
  padding-left:85px
 }
 .wp-show-posts-columns .wp-show-posts-single {
  width:50%
 }
}
@media(max-width:768px) {
 .main-navigation .main-nav {
  margin-right:-15px;
  margin-left:-15px
 }
 .main-navigation .main-nav>ul>li {
  border-top:1px solid #444
 }
 .one-container .site-content {
  padding-top:30px;
  padding-bottom:30px
 }
 .footer-widgets .widget_nav_menu li {
  display:inline-block;
  margin-right:12px
 }
 .w-separator.size_small {
  height:15px
 }
 .w-separator.size_medium {
  height:30px
 }
 .w-separator.size_large {
  height:55px
 }
 .w-separator.size_huge {
  height:85px
 }
 .g-cols>div:not(:last-child)>.cols-inner {
  padding-bottom:1em
 }
 h1,
 .h1 {
  font-size:1.87em
 }
 h2,
 .h2 {
  font-size:1.61em
 }
 h3,
 .h3 {
  font-size:1.47em
 }
 .sidebar>div>* {
  max-width:100%;
  margin-right:auto
 }
}
@media(max-width:767px) {
 .wp-show-posts-columns .wp-show-posts-inner {
  margin-bottom:1.7em!important
 }
 .wp-show-posts-columns .wp-show-posts-single {
  display:block;
  width:100%
 }
 .floatnobile {
  float:none!important
 }
 .header-meta,
 .trends-meta,
 .entry-header>.entry-meta>* {
  font-size:95%
 }
 .comment-body,
 .comment .comment-respond {
  padding-right:15px;
  padding-left:15px
 }
 .g-cols.offset_sidebar>.mobile-grid-100>.cols-inner {
  padding-right:0!important;
  padding-left:0!important
 }
}
@media(max-width:460px) {
 .hide-on-small-mobile {
  display:none
 }
 .wp-show-posts-entry-meta-below-post {
  display:none
 }
 .small-mobile-100 {
  float:none;
  clear:both;
  width:100%
 }
}
@media(min-width:768px) and (max-width:1024px) {
 .g-cols.offset_sidebar>.tablet-grid-100>.cols-inner {
  padding-right:0!important;
  padding-left:0!important
 }
}
.mobile-bar-items img {
 margin-top:-4px
}
.no-sidebar.single .site-main,
.page.yesmax .site-main {
 max-width:800px;
 margin-right:auto;
 margin-left:auto
}
.entry-header .avatar {
 display:inline-block;
 height:36px
}
.afcon-widgets {
 margin:1.5em 0;
 text-align:center
}
.main-navigation .mobile-bar-items a,
button.menu-toggle {
 font-size:18px
}
.site-logo a {
 padding-top:15px
}
.widget-area .inside-navigation {
 padding-left:0;
 padding-right:0
}
.widget-area .site-logo,
.widget-area .mobile-bar-items {
 display:none!important
}
.format-link .entry-title .fa {
 margin-right:10px;
 opacity:.9
}
.awesome-link {
 margin-top:1em;
 font-weight:600;
 text-transform:uppercase
}
.blogauthor-headline {
 font-size:1em;
 font-weight:600
}
h1.entry-title {
 padding-bottom:15px
}
h1.trends-title,
h1.entry-title {
 padding-top:15px;
 font-weight:600
}
.post-body .entry-content {
 margin:1.5em 0 0
}
.entry-content table:last-child {
 margin-bottom:0
}
.entry-header .comments-link {
 display:inline-block;
 margin-left:20px
}
.header-meta {
 margin-bottom:10px
}
.btnic {
 display:block;
 padding:10px;
 text-align:center;
 border:2px solid;
 font-weight:600;
 border-radius:5px
}
.widgettitle,
.widget-title,
.w-heading {
 font-size:24px
}
.search-form.w-search,
.w-search .search-field {
 width:100%
}
.read-more {
 display:inline-block
}
.comment.bypostauthor>.comment-body cite:after {
 content:"\f044";
 font-family:FontAwesome;
 font-weight:400;
 margin-left:10px
}
.comment.comment-author-faisal-kabir:before,
.comment.comment-author-support-team:before,
.comment.comment-author-team-bangla:before {
 float:right;
 font-size:13px;
 margin:5px -1px 0;
 padding:3px 8px;
 border-radius:3px;
 font-weight:600;
 pointer-events:none;
 text-transform:uppercase
}
.comment.comment-author-faisal-kabir:before {
 content:"Bydik Admin"
}
.comment.comment-author-support-team:before,
.comment.comment-author-team-bangla:before {
 content:"Bydik Staff"
}
.comment .form-submit {
 margin-bottom:.5em
}
.tagcloud a[href*=-bd],
.bntype-artpg .tagcloud a:not([href*=-bd]) {
 display:none
}
.bntype-artpg .tagcloud a[href*=-bd] {
 display:inline
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
 color:#d20
}
.token.attr-value,
.token.string,
.token.url,
.token.char,
.token.builtin,
.token.inserted {
 color:#090
}
.token.attr-name,
.attr-value>.punctuation:first-child {
 color:#c50
}
.token.selector,
.token.atrule,
.token.keyword {
 color:#07c;
 font-weight:700
}
.token.operator,
.token.class-name,
.token.regex,
.token.directive-block .attr-value,
.token.directive-block .string {
 color:#c70
}
.token.important,
.token.bold,
.token.directive-inline.property {
 font-weight:700
}
.token.italic {
 font-style:italic
}
.token.entity {
 cursor:help
}
.token.namespace {
 opacity:.7
}
.table-responsive {
 overflow:auto;
 margin-bottom:1.5em
}
.wp-show-posts-image:not(.wpsp-image-center) {
 width:84px;
 height:76px
}
.ap-form-wrapper>div,
.ap-form-wrapper>h2 {
 margin-bottom:30px
}
.ap-form-field-wrapper label {
 display:block;
 margin-bottom:5px;
 font-weight:600
}
.ap-form-field input[name=ap_form_post_title] {
 width:100%
}
.ap-form-error-message {
 color:red
}
.ap-post-submission-message {
 padding:15px;
 background-color:rgba(0,0,0,.1);
 font-size:1.1em;
 font-style:italic;
 border-left:3px solid green
}
#page #profile-comments .wpum-comment {
 border-bottom:2px solid #f6f6f6;
 padding:15px 0
}
#page #profile-comments .wpum-comment:first-child {
 padding-top:0
}
#page #profile-tab-content .fa {
 color:#777;
 font-size:22px;
 margin-right:10px
}
#page #profile-tab-content .item-meta {
 font-style:italic;
 margin-top:10px
}
#page #wpum-profile #header-name-container h2 a {
 color:#777;
 float:right
}
#page #wpum-profile #header-name-container h2 a:before {
 content:"\f013";
 font-family:FontAwesome
}
#page #wpum-profile #header-name-container h2 small {
 display:none
}
#page #wpum-account-forms-tabs ul li a {
 display:block;
 padding:10px 15px
}
.further_read,
#page .wpum-account-form fieldset label {
 font-weight:600
}
#page .wpum-registration-form,
#page .wpum-login-form,
#page .wpum-password-recovery-form {
 max-width:350px;
 margin-right:auto;
 margin-left:auto
}
#page .wpum-registration-form .button,
#page .wpum-login-form .button {
 width:100%
}
#page .wpum-action-links {
 margin-left:0;
 padding-top:3em;
 text-align:center
}
#page .wpum-template p:last-child {
 margin-bottom:0
}
#page #profile-content-about .profile-fields-table tr {
 background-color:rgba(0,0,0,.02)
}
#page #wpum-account-forms-tabs ul li {
 margin:0;
 padding:0
}
.site-footer .jetpack_subscription_widget input {
 width:320px
}
.jetpack-subscribe-count {
 margin-bottom:1.5em;
 opacity:.8
}
.mce-container button:hover {
 background-color:transparent
}
.mce-i-code:before {
 vertical-align:middle
}
.bntype-artpg h1,
.bntype-artpg blockquote,
.bntype-artpg .author-info,
.bntype-artpg .term-desc,
.bntype-artpg .taxonomy-description,
.bntype-artpg .topic-links,
.bntype-artpg .comment-content,
.bntype-artpg .bdtags,
.single-us_portfolio .comment-content,
.bntype-art .entry-content,
.bntype-art [class*=entry-title],
.bntype-art .entry-summary,
.bntype-art .cat-links,
.bntype-art .tags-links,
.bntype-art .pagination,
.bntype-art .jp-relatedposts-items,
.linkify_category-bangla .entry-title,
.linkify_category-bangla .entry-summary,
.bn-text {
 /*! font-family:SolaimanLipi,Arial,sans-serif */
}
body {
 color:var(--text);
 background-color:var(--bodybg);
 line-height:1.7
}
a,
a:visited {
 color:var(--bydik)
}
a:hover,
a:focus,
a:active {
 color:var(--bydiky)
}
.top-bar {
 color:#272727
}
.top-bar a,
.top-bar a:visited {
 color:#000
}
.top-bar a:hover {
 color:var(--bydik)
}
.site-header {
 color:#e7e7e7
}
.site-header a,
.site-header a:visited {
 color:#fff
}
.site-header a:hover {
 color:var(--bydik)
}
.main-navigation {
 background-color:#222
}
.main-navigation .main-nav ul li a,
.menu-toggle {
 color:#fff
}
.main-navigation .main-nav ul li>a:hover,
.main-navigation .main-nav ul li>a:focus,
.main-navigation .main-nav ul li.sfHover>a {
 color:#fff;
 background-color:#353535
}
button.menu-toggle:hover,
button.menu-toggle:focus,
.main-navigation .mobile-bar-items a,
.main-navigation .mobile-bar-items a:hover,
.main-navigation .mobile-bar-items a:focus {
 color:#fff
}
.navigation-search input[type=search],
.navigation-search input[type=search]:active,
.navigation-search input[type=search]:focus {
 color:#fff;
 background-color:#222
}
.main-navigation ul ul {
 background-color:#333
}
.main-navigation .main-nav ul ul li>a:hover,
.main-navigation .main-nav ul ul li>a:focus,
.main-navigation .main-nav ul ul li.sfHover>a {
 background-color:#404040
}
.entry-meta,
.header-meta {
 color:#888
}
.footer-widgets {
 color:#b1b1b1;
 background-color:#121212
}
.footer-widgets .widget-title {
 color:#ccc
}
.footer-widgets a,
.footer-widgets a:visited {
 color:#c7c7c7
}
.footer-widgets a:hover {
 color:#fff
}
.site-info {
 color:#e7e7e7;
 background-color:#000
}
.site-info a,
.site-info a:visited {
 color:#e7e7e7
}
.site-info a:hover {
 color:#fff
}
.footer-bar .widget_nav_menu .current-menu-item a {
 color:#fff
}
.cookie-text,
.hideme a {
 color:#111
}
.colortext a,
.entry-title a,
.sidebar .widget li a,
.wp-show-posts-entry-title a,
.jp-relatedposts-post-title a {
 color:var(--text)
}
.colorbydik a,
.entry-title a:hover,
.sidebar .widget li a:hover,
.colortext a:hover,
.wp-show-posts-entry-title a:hover,
.jp-relatedposts-post-title a:hover {
 color:var(--bydik)
}
.colormeta a,
.entry-meta a,
.header-meta a,
.wp-show-posts-entry-meta a,
.inside-article .read-more,
.pagination .page-numbers.current,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
 color:var(--ameta)
}
.colorstrong a,
.colormeta a:hover,
.entry-meta a:hover,
.header-meta a:hover,
.wp-show-posts-entry-meta a:hover,
.wpum-action-links a,
.inside-article .read-more:hover,
pre,
.token.html,
.token.css,
.token.js,
.token.php,
.url>.token,
.token.directive-inline.property {
 color:var(--bright)
}
.colorbydiky a,
.colorbydik a:hover,
.colorstrong a:hover,
.hideme a:hover,
.wpum-action-links a:hover {
 color:var(--bydiky)
}
.w-area,
.trends-area {
 background-color:#333
}
.w-area .entry-meta,
.trends-area .entry-meta {
 color:#bbb
}
.w-area .entry-meta a,
.trends-area .entry-meta a,
.hero-meta a {
 color:#ddd
}
.w-area .entry-meta a:hover,
.trends-area .entry-meta a:hover,
.hero-meta a:hover {
 color:#fff
}
.comment-list li.comment:before {
 color:#fff;
 background-color:var(--bydik)
}
.btnic.color {
 color:#fff;
 background-image:linear-gradient(35deg,var(--bydiki),var(--bydiky));
 border-color:var(--bydiki)
}
.btnic.color:hover {
 background-image:linear-gradient(35deg,var(--bydiky),var(--bydiki))
}
.hero-area {
 background:#222;
 font-size:15px
}
.hero-title {
 line-height:1.5;
 margin-bottom:1em
}
.hero-meta {
 color:#ccc;
 margin-bottom:10px
}
.hero-area .hero-post {
 margin-bottom:0
}
.align_center {
 text-align:center
}
.align_right {
 text-align:right
}
.align_left {
 text-align:left
}
#page #profile-tab-content a {
 color:var(--text)
}
.colorbydiky a:hover,
#page #profile-tab-content a:hover {
 color:var(--bydik)
}
#page #profile-tab-content .item-link {
 font-weight:600
}
#page .fv-playlist-slider-wrapper,
#page .fv-playlist-slider-wrapper .fp-playlist-horizontal {
 margin-bottom:0
}
#page .fp-playlist-horizontal a {
 background-color:#333
}
#page .fp-playlist-external .fvp-playlist-thumb-img,
#page .fp-playlist-external .dur {
 display:none
}
#page .fv-playlist-design-2014.fp-playlist-external a h4 {
 margin-bottom:0;
 padding-top:15px;
 padding-bottom:15px
}
#page .flowplayer .fp-splash {
 opacity:.5
}
#page .flowplayer .fp-ui+a {
 width:0!important;
 height:0!important;
 background-image:none!important;
 visibility:hidden!important
}
#page .flowplayer .fp-player .fp-menu.fv-fp-list-menu {
 display:none
}
@media(max-width:560px) {
 body .fp-ratio {
  padding-top:82.25%!important
 }
 body .vpressdiv {
  padding-bottom:82.25%!important
 }
}
.jp-relatedposts {
 position:relative;
 display:none;
 clear:both;
 padding-top:3em
}
.jp-relatedposts:after {
 content:"";
 display:table;
 clear:both
}
.jp-relatedposts h3.jp-relatedposts-headline {
 display:inline-block;
 float:left;
 font-size:1em;
 font-weight:600
}
.jp-relatedposts .jp-relatedposts-items {
 clear:left;
 display:table;
 margin:0 -10px
}
.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
 float:left;
 width:33%;
 margin:0 0 1.5em;
 padding:0 10px;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:nth-child(3n+4) {
 clear:both
}
.jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title,
.jp-relatedposts .jp-relatedposts-items p {
 font-size:15px;
 line-height:1.5;
 margin:0
}
.jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-nothumbs {
 position:relative
}
.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post img.jp-relatedposts-post-img {
 border:1px solid rgba(0,0,0,.08)
}
.jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-nothumbs a.jp-relatedposts-post-aoverlay {
 position:absolute;
 display:block;
 top:0;
 bottom:0;
 left:0;
 right:0;
 border-bottom:0
}
.jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
 display:block;
 max-width:354px
}
.jp-relatedposts.jp-relatedposts-items .jp-relatedposts-post img.jp-relatedposts-post-img,
.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span {
 display:block;
 text-overflow:ellipsis;
 overflow:hidden
}
.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date,
.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context {
 opacity:.6
}
.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
 display:none
}
.jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-thumbs p.jp-relatedposts-post-excerpt {
 display:none
}
.jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-nothumbs p.jp-relatedposts-post-excerpt {
 overflow:hidden
}
.jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-nothumbs span {
 margin-bottom:1em
}
.jp-relatedposts .jp-relatedposts-list .jp-relatedposts-post {
 clear:both;
 width:100%
}
.jp-relatedposts .jp-relatedposts-list .jp-relatedposts-post img.jp-relatedposts-post-img {
 float:left;
 overflow:hidden;
 max-width:33%;
 margin-right:3%
}
.jp-relatedposts .jp-relatedposts-list h4.jp-relatedposts-post-title {
 display:inline-block;
 max-width:63%
}
@media only screen and (max-width:767px) {
 .jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
  width:49.5%
 }
}
@media only screen and (max-width:460px) {
 .jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
  clear:both;
  width:99%
 }
 .jp-relatedposts .jp-relatedposts-list .jp-relatedposts-post img.jp-relatedposts-post-img,
 .jp-relatedposts .jp-relatedposts-list h4.jp-relatedposts-post-title {
  float:none;
  max-width:100%;
  margin-right:0
 }
}
#jp-post-flair {
 padding-top:.5em
}
.sharedaddy,
#content .sharedaddy {
 clear:both;
 margin-top:2em
}
.sharedaddy h3.sd-title {
 display:inline-block;
 font-size:1em
}
.sharedaddy .sd-content:before {
 content:"\f045";
 font-family:FontAwesome;
 float:left;
 margin-right:8px;
 font-size:21px;
 opacity:.9
}
.page.nomax .sharedaddy .sd-content:before {
 float:none;
 margin-right:0
}
.sd-content ul {
 padding:0!important;
 margin:0!important;
 list-style:none!important
}
.sd-content ul li {
 display:inline-block;
 margin:0;
 padding:0 5px 5px 0
}
.sd-content ul li.share-end {
 display:none
}
.sd-content ul li a.sd-button:before {
 display:inline-block;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font:normal 17px/1 FontAwesome;
 vertical-align:top;
 text-align:center;
 width:1em
}
.sd-social-text .sd-content ul li a.sd-button:before,
.sd-social-icon-text .sd-content ul li a.sd-button:before {
 font-size:14px;
 margin-right:4px
}
.sd-content ul li a.sd-button,
.sd-content ul li div.option a {
 position:relative;
 display:inline-block;
 border:0;
 border-radius:3px;
 text-decoration:none!important;
 font-size:14px;
 color:#777;
 background:#f7f7f7;
 box-shadow:0 0 1px 1px inset #ddd;
 text-shadow:none;
 line-height:1;
 padding:10px;
 top:-2px;
 width:auto;
 height:auto;
 text-indent:0
}
.sd-social-text .sd-content ul li a.sd-button,
.sd-social-text .sd-content ul li div.option a,
.sd-social-icon-text .sd-content ul li a.sd-button,
.sd-social-icon-text .sd-content ul li div.option a {
 padding:10px
}
.sd-content ul li a.sd-button:hover,
.sd-content ul li a.sd-button:active {
 opacity:.7
}
.sd-social .sd-button .share-count {
 position:absolute;
 display:inline-block;
 bottom:0;
 right:0;
 border-radius:0;
 background:#555;
 font-size:9px;
 color:#fff;
 padding:1px 3px;
 text-align:center
}
.pinterest_button,
.twitter_button,
.linkedin_button>span {
 margin:0!important
}
.sd-content ul li.share-print a:before {
 content:"\f02f"
}
.sd-content ul li.share-email a:before {
 content:"\f0e0"
}
.sd-content ul li.share-linkedin a:before {
 content:"\f0e1"
}
.sd-content ul li.share-twitter a:before {
 content:"\f099"
}
.sd-content ul li.share-pocket a:before {
 content:"\f265"
}
.sd-content ul li.share-pinterest a:before {
 content:"\f231"
}
.sd-content ul li.share-facebook a:before {
 content:"\f09a"
}
.sd-content ul li.share-telegram a:before {
 content:"\f1d8"
}
.sd-content ul li.share-jetpack-whatsapp a:before {
 content:"\f232"
}
.sd-social-text .sd-content ul li a.sd-button:before {
 display:none!important
}
.sd-social-icon .sd-content ul li[class*=share-] a.sd-button {
 color:#fff;
 box-shadow:none
}
.sd-social-icon .sd-content ul li[class*=share-].share-print a.sd-button,
.sd-social-icon .sd-content ul li[class*=share-].share-email a.sd-button {
 background:#ddd;
 color:#555
}
.sd-social-icon .sd-content ul li[class*=share-].share-jetpack-whatsapp a.sd-button {
 background:#43d854
}
.sd-social-icon .sd-content ul li[class*=share-].share-facebook a.sd-button {
 background:#3b5998
}
.sd-social-icon .sd-content ul li[class*=share-].share-twitter a.sd-button {
 background:#00acee
}
.sd-social-icon .sd-content ul li[class*=share-].share-pinterest a.sd-button {
 background:#ca1f27
}
.sd-social-icon .sd-content ul li[class*=share-].share-telegram a.sd-button {
 background:#08c
}
.sd-social-icon .sd-content ul li[class*=share-].share-linkedin a.sd-button {
 background:#0077b5
}
.sd-social-icon .sd-content ul li[class*=share-].share-pocket a.sd-button {
 background:#ee4056
}
.sharing-screen-reader-text {
 position:absolute!important;
 clip:rect(1px,1px,1px,1px);
 height:1px;
 width:1px;
 overflow:hidden
}
#jetpack-source_f_name {
 position:absolute!important;
 display:none!important;
 left:-9000px
}
::selection {
 color:#fff;
 background-color:var(--bydik)
}
:focus {
 outline-color:var(--bydik)
}
@media print {
 * {
  color:#000!important;
  background-image:none!important;
  background-color:#fff!important;
  text-shadow:none!important
 }
 body>:not(.site):not(.site-header):not(.w-area),
 .site .site-content>:not(.content-area),
 .content-area .site-main>:not(article),
 article .inside-article>:not(.entry-content):not(.post-body),
 .post-body>:not([class*=entry-]),
 .entry-header>:not(.entry-title),
 audio,
 video,
 iframe,
 .ytubediv,
 .vpressdiv,
 div[class*=google],
 div[class*=mejs-],
 .sharedaddy,
 .jp-relatedposts,
 .btnic,
 .read-more {
  display:none!important
 }
 body {
  padding:15px!important
 }
 body .grid-container,
 .content-area,
 .site-main,
 .area-header {
  width:100%!important;
  max-width:100%!important;
  padding:0!important
 }
 .area-header {
  text-align:left!important
 }
 .entry-content p a[href]:after {
  content:" ("attr(href)")"
 }
 .printonly {
  display:block!important
 }
}
